<%- include("header") -%>
<div class="box" id="heading">
<h2>This is the about page</h2>
</div>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos sunt tenetur, culpa voluptatibus itaque quasi maxime quis fuga! Blanditiis adipisci a in dolores iste ipsa voluptatum, non harum omnis repellendus!</p>
<%- include("footer") -%>